<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
</div>
<div class="row" ng-controller="sysUserController">
	<div class="col-md-12">
		<div class="portlet light">
	        <div class="portlet-title">
	            <div class="caption font-dark">
	                <span class="caption-subject bold uppercase">用户管理</span>
	            </div>
	            <div class="tools"></div>
	        </div>
	        <div class="portlet-body">
	        	<div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
	        		<div class="row">
	        			<div class="col-md-12">
	        				<div class="dt-buttons">
	        					<a href="javascript:;" class="btn btn-sm green" ng-click="vm.addUserModal()">添加用户</a>
	        				</div>
	        			</div>
	        		</div>
			        <div class="table-scrollable">
			            <table class="table table-striped table-bordered table-advance table-hover">
			                <thead>
			                    <tr>
			                        <th>登陆账号</th>
			                        <th>用户名称</th>
			                        <th>操作</th>
			                    </tr>
			                </thead>
			                <tbody>
			                    <tr ng-repeat="user in vm.listsData">
			                        <td>{{user.name}}</td>
			                        <td>{{user.user}}</td>
			                        <td>
			                            <a href="javascript:;" ng-click="vm.editUserModal($index)">编辑设置权限</a> |
			                            <a href="javascript:;" ng-click="vm.deleteUserModal(user.id)">删除用户</a> |
			                            <a href="javascript:;">重置密码</a>
			                        </td>
			                    </tr>
			                </tbody>
			            </table>
			        </div>
			        <!-- 分页 -->
                    <jxcPage/>
		        </div>
	    	</div>
    	</div>
    </div>
    <div data-ng-include="'views/sys/modal/add_modal.html'"></div>
    <div data-ng-include="'views/sys/modal/edit_modal.html'"></div>
    <div data-ng-include="'tpl/delete.html'"></div>
    <div data-ng-include="'tpl/message.html'"></div>
</div>