<div class="modal fade choose_product_modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 70%">
        <div class="modal-content">
            <div class="modal-header">
                <input type="text" ng-keyup="vm.modalSearchKeyUp($event)" class="input-medium form-control search-query form-control-static " placeholder="产品编号" ng-model="vm.modalSearchData.number">
                <input type="text" ng-keyup="vm.modalSearchKeyUp($event)" class="input-medium form-control search-query form-control-static " placeholder="产品名称" ng-model="vm.modalSearchData.name">
                <input type="text" ng-keyup="vm.modalSearchKeyUp($event)" class="input-medium form-control search-query form-control-static " placeholder="产品产地" ng-model="vm.modalSearchData.firm">
                <select class="input-medium search-query form-control-static list-select2" data-placeholder="请选择分类" ng-model="vm.modalSearchData.sort_id" style="width:250px">
                    <option value=""></option>
                    <option ng-repeat="sortChild in vm.sortSelectLists" value="{{sortChild.id}}">{{sortChild.name}}</option>
                </select>
                <button class="btn green" style="margin-bottom:4px" ng-click="vm.modalHandleSearch()">搜索
                    <i class="fa fa-search"></i>
                </button>
                <button id="sample_editable_1_new" class="btn grey-mint" style="margin-bottom:4px" ng-click="vm.modalResetSearch()">重置
                    <i class="fa fa-recycle"></i>
                </button>
            </div>
            <div class="modal-body" style="padding-bottom: 50px;">
                <div class="md-checkbox-inline">
                    <div class="md-checkbox" ng-repeat="child in vm.modalListsData" style="width:23%;margin:5px;">
                        <input type="checkbox" id="checkbox_{{child.id}}" class="md-check" ng-model="vm.ischeckedArray[child.id]" ng-change="vm.chooseProductFunc(child.id, child)"/>
                        <label for="checkbox_{{child.id}}">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            {{child.name}}(库存：{{child.stock}})
                            <br>
                            厂商：{{child.firm}}
                            <br>
                            编号：{{child.number}} - {{child.standard}}
                        </label>
                    </div>
                </div>
                <!-- 分页 -->
                <jxcModalPage/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">取消</button>
                <button type="button" submit-button-directives class="btn green" ng-click="vm.submitChoose()">确定</button>
            </div>
        </div>
    </div>
</div>