<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
</div>
<div class="row" ng-controller="intoController" ng-init="">
	<div class="col-md-12">
        <div class="portlet light portlet-fit">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject sbold uppercase">入库管理</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="search-form">
                    <input ng-keyup="vm.searchKeyUp($event)" type="text" name="group_no" class="input-medium form-control form-control-static" 
                        value="{{jxc_configs.jxc_into_flow}}" placeholder="入库流水号" ng-model="vm.searchData.flow_id"/>
                    <input type="text" name="start_time" class="input-medium form-control form-control-static into_date_modal" 
                        readonly placeholder="开始时间" ng-model="vm.searchData.start_at"/>
                    <input type="text" name="end_time" class="input-medium form-control form-control-static into_date_modal" 
                        readonly placeholder="结束时间" ng-model="vm.searchData.end_at"/>
                    <button id="sample_editable_1_new" class="btn green" style="margin-bottom:4px" ng-click="vm.handleSearch()">搜索
                        <i class="fa fa-search"></i>
                    </button>
                    <button id="sample_editable_1_new" class="btn grey-mint" style="margin-bottom:4px" ng-click="vm.resetSearch()">重置
                        <i class="fa fa-recycle"></i>
                    </button>
                    <button id="sample_editable_1_new" class="btn btn-danger" style="margin-bottom:4px" ng-click="vm.intoProductModal()">入库
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
                <div id="sample_editable_1_wrapper" class="dataTables_wrapper no-footer">
                	<div class="table-scrollable">
	                	<table class="table table-striped table-hover table-bordered dataTable no-footer" id="sample_editable_1" role="grid" aria-describedby="sample_editable_1_info">
		                    <thead>
		                        <tr>
                                    <th>入库流水号</th>
                                    <th>入库总金额（￥）</th>
                                    <th>入库人员</th>
			                        <th>入库时间</th>
                                    <th>操作</th>
			                    </tr>
		                    </thead>
		                    <tbody>
			                    <tr ng-repeat="record in vm.listsData">
                                    <td>{{record.flow_id}}</td>
		                            <td>{{record.total_price}}</td>
                                    <th>{{record.opt_name}}</th>
                                    <th>{{record.created_at}}</th>
                                    <th>
                                        <a href="javascript:;" ng-click="vm.detailModal(record.id)">查看详情</a>
                                    </th>
		                        </tr>
	                       	</tbody>
	                	</table>
                	</div>
                    <!-- 分页 -->
                    <jxcPage/>
                </div>
            </div>
        </div>
    </div>
    <div data-ng-include="'views/product/modal/into_modal.html'"></div>
    <div data-ng-include="'views/product/modal/choose_product_modal.html'"></div>
    <div data-ng-include="'views/product/modal/into_detail_modal.html'"></div>
    <div data-ng-include="'tpl/delete.html'"></div>
    <div data-ng-include="'tpl/message.html'"></div>
</div>
